.u-section-1 .u-sheet-1 {
  min-height: 646px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 645px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 559px;
  height: 386px;
  margin: 1px auto 0 20px;
}

.u-section-1 .u-text-1 {
  margin: -386px 12px 0 597px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: -114px 551px 0 20px;
}

.u-section-1 .u-link-1 {
  padding-bottom: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 73px 460px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 73px;
  height: 73px;
  margin: -100px auto 0 20px;
}

.u-section-1 .u-icon-2 {
  width: 73px;
  height: 73px;
  margin: -73px auto 0 106px;
}

.u-section-1 .u-icon-3 {
  width: 73px;
  height: 73px;
  margin: -73px auto 0 191px;
}

.u-section-1 .u-icon-4 {
  width: 73px;
  height: 73px;
  margin: -73px auto 0 277px;
}

.u-section-1 .u-icon-5 {
  width: 73px;
  height: 72px;
  margin: -72px auto 0 362px;
}

.u-section-1 .u-text-3 {
  background-image: none;
  text-transform: uppercase;
  font-family: Allan;
  font-weight: 700;
  font-size: 3.75rem;
  margin: -78px 566px 0 442px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 36px auto 0 242px;
  padding: 11px 29px 13px 27px;
}

.u-section-1 .u-icon-6 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: -47px 313px 0 auto;
  padding: 11px 29px 13px 27px;
}

.u-section-1 .u-icon-7 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 532px;
  }

  .u-section-1 .u-image-1 {
    width: 890px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 124px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.5rem;
    width: auto;
    margin-top: -380px;
    margin-right: 516px;
    margin-left: 25px;
  }

  .u-section-1 .u-link-1 {
    margin-top: 306px;
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-1 .u-icon-1 {
    width: 58px;
    height: 57px;
    margin-top: -400px;
    margin-left: 515px;
  }

  .u-section-1 .u-icon-2 {
    width: 58px;
    height: 58px;
    margin-top: -57px;
    margin-left: 443px;
  }

  .u-section-1 .u-icon-3 {
    width: 58px;
    height: 58px;
    margin-top: -58px;
    margin-left: 587px;
  }

  .u-section-1 .u-icon-4 {
    width: 58px;
    height: 58px;
    margin-top: -58px;
    margin-left: 659px;
  }

  .u-section-1 .u-icon-5 {
    width: 58px;
    height: 58px;
    margin-top: -58px;
    margin-left: 732px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -82px;
    margin-right: 25px;
    margin-left: 804px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 343px;
    margin-left: 195px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 245px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -54px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 985px;
  }

  .u-section-1 .u-image-1 {
    width: 687px;
    height: 312px;
    margin-top: 49px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 117px;
    margin-right: 0;
    margin-left: 26px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -464px;
    margin-right: 254px;
    margin-left: 26px;
  }

  .u-section-1 .u-link-1 {
    margin-top: 433px;
    margin-left: 26px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -458px;
    margin-left: 158px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 20px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 91px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 229px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 297px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -101px;
    margin-right: -592px;
    margin-left: 515px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 403px;
    margin-left: 167px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1229px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 525px;
    height: 348px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 176px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -669px;
    margin-right: 124px;
    margin-left: 8px;
  }

  .u-section-1 .u-link-1 {
    margin-top: 581px;
    margin-left: 22px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -600px;
    margin-left: 142px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -59px;
    margin-left: 8px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -56px;
    margin-left: 75px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 212px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -59px;
    margin-right: 201px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -126px;
    margin-right: 22px;
    margin-left: 378px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 580px;
    margin-left: 80px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1401px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    position: relative;
  }

  .u-section-1 .u-text-1 {
    margin-top: 303px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: -817px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-link-1 {
    margin-top: 717px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -736px;
    margin-left: 73px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -57px;
    margin-left: 5px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -58px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 209px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -57px;
    margin-right: auto;
    margin-left: 277px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    width: 131px;
    margin-top: -277px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 886px;
    margin-left: 21px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 19px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 569px;
}

.u-section-2 .u-slider-1 {
  min-height: 480px;
  width: 1072px;
  margin: 0 auto 60px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-2 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("images/0ac39646-924c-4d35-8191-b15bcdf6fed4.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-2 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    min-height: 468px;
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 533px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 559px;
    margin-bottom: 21px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }
}