.u-section-1 {
  background-image: url("images/default-image.jpg?rand=c252");
}

.u-section-1 .u-sheet-1 {
  min-height: 974px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 738px;
  background-image: none;
  margin: 16px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 285px;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 130px;
  width: 244px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 35px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 19px 16px 0 30px;
}

.u-section-1 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: 16px auto 0 107px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  text-transform: uppercase;
  font-family: Allan;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -33px 61px 0 157px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 285px;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  margin: 0 30px;
}

.u-section-1 .u-group-1 {
  width: 374px;
  min-height: 958px;
  margin: -285px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 1px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 14px auto 0 14px;
  padding: 4px 96px 6px 95px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 0 14px;
  padding: 3px 38px 5px 36px;
}

.u-section-1 .u-icon-3 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 0 14px;
  padding: 4px 81px 5px 80px;
}

.u-section-1 .u-icon-4 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 25px auto 0 14px;
  padding: 4px 73px 5px 72px;
}

.u-section-1 .u-icon-5 {
  font-size: 0.7em;
}

.u-section-1 .u-image-2 {
  width: 286px;
  height: 656px;
  margin: 30px 14px 0;
}

.u-section-1 .u-layout-wrap-2 {
  width: 738px;
  background-image: none;
  margin: -617px auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 285px;
}

.u-section-1 .u-container-layout-4 {
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
  padding: 30px 12px;
}

.u-section-1 .u-image-3 {
  height: 130px;
  width: 244px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 17px 0 0 23px;
}

.u-section-1 .u-text-5 {
  font-family: Allan;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 25px 49px 0 146px;
}

.u-section-1 .u-icon-6 {
  width: 40px;
  height: 40px;
  margin: -40px auto 0 96px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 285px;
}

.u-section-1 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-layout-wrap-3 {
  width: 738px;
  background-image: none;
  margin: 19px auto 3px 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 310px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 21px;
}

.u-section-1 .u-image-4 {
  height: 130px;
  width: 244px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 26px 5px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: 19px 0 0 5px;
}

.u-section-1 .u-icon-7 {
  width: 40px;
  height: 40px;
  margin: 16px auto 0 82px;
}

.u-section-1 .u-text-8 {
  background-image: none;
  text-transform: uppercase;
  font-family: Allan;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -33px 45px 0 132px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 285px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  margin: 0 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 288px;
  }

  .u-section-1 .u-image-1 {
    height: 183px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 95px;
    margin-left: 155px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 288px;
  }

  .u-section-1 .u-layout-wrap-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 140px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 26px;
    margin-right: 12px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 104px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 56px;
    margin-left: 116px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 16px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 45px;
    margin-left: 142px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 278px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 3px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 41px;
    margin-left: 128px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    height: 300px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 417px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    position: relative;
    height: 189px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 263px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}